numpy
matplotlib
soundfile
ipykernel
pandas
python-sofa
torch
torchaudio
scipy
tqdm
scaper
speechbrain
lightning
wandb
asteroid
pyyaml
espnet==202308
cdpam
auraloss
auraloss
deepfilternet
transformers
noisereduce
soxr